@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

#holder {
    display: flex;
    width: 99.9%;
    height: 99.9%;
}

.app {
    display: flex;
    flex-direction: column;
}

.landpad {
    background-color: white;
    display: flex;
    flex: 3;

    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition: all .5s;
    transition: all .5s;
}

.landpad-dragenter {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.landing {
    flex: 2;
}

.footer {
    flex: 0.5;
}

.options {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 2;
}

.button {
    padding: 0.5rem 0 0.5rem 0;
    background-color: white;
    min-width: 27%;
}

body {
    background-color: #F7F7F7;
    color: rgb(41, 41, 41);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 5rem;
}

.titleBar {
    width: 100%;
    height: 40px;
}

.main-margin {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90vh;
    padding: 1rem 3rem 1rem 3rem;
}